.SearchFilter {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    margin-top: 50px;

    .SearchingBar {
        height: 40px;
        width: 80vw;

        border-radius: 20px;
        border: 2px solid black;

        padding: 0px 10px;

        font-size: 25px;
    }

    .Items {
        display: flex;
        flex-direction: column;

        height: auto;
        width: 80vw;

        margin: 30px 0px;
        padding: 20px;

        border: 2px solid black;
        border-radius: 30px;

        .Item {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 25px;
                margin: 10px 0px;
            }

            p {
                font-size: 17.5px;
                margin: 10px 0px;
            }
        }
    }

}